header {
  background: rgb(100, 100, 244);

  height: 90px;
  padding: 20px;
  border-bottom: 1px solid $color;

  input[type="text"] {
    width: 500px;
    margin: 0px 20px;
  }

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  @include center;
  
  > div {
    width: 90%;
    
    @include spaceBetween;
  }
  
  .logo {
    width: 10%;
    @include center;

    button {
      background: none;
    }
  }
  
  .inpDiv {
    width: 50%;
  }

  .configDiv {
    width: 20%;

    @include spaceAround;

    label {
      background: rgb(201, 201, 201);
  
      width: 90px;
      height: 40px;
  
      border-radius: 70px;
  
      display: block;
      position: relative;
  
      cursor: pointer;
    }

    input {
      display: none;
    }
  
    i.thumb {
      content: '';
      background: white;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.419);
      
      width: 35px;
      height: 35px;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 3%;
      transform: translateY(-50%);
      transition: all .5s ease;
    }

    input:checked ~ span i.thumb {
      content: '';
      background: rgb(14, 14, 14);
      width: 35px;
      height: 35px;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 97%;
      transform: translate(-100%, -50%);
    }

    input:checked ~ .toggleBody {
      background: #000;
    }
  }

  select {
    background: transparent;

    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;

    cursor: pointer;
  }
}