// Layout Mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin verticalFlex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
