@import "./variables";

// General Settings
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: $mainFont;
}

html, body {
  background: $bg;
  color: $color;

  width: 100vw;
  min-width: 100%;
  height: 100vh;

  overflow-x: clip;
  scroll-behavior: smooth;
}