* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html, body {
  background: white;
  color: black;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  overflow-x: clip;
  scroll-behavior: smooth;
}

#root > div {
  height: calc(100% - 90px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

fieldset {
  border: none;
  margin: 20px;
}

input {
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
}

button {
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

header {
  background: rgb(100, 100, 244);
  height: 90px;
  padding: 20px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
header input[type=text] {
  width: 500px;
  margin: 0px 20px;
}
header a {
  display: inline-block;
  width: 40px;
  height: 40px;
}
header > div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo button {
  background: none;
}
header .logo button * {
  width: 50px;
  height: 50px;
}
header .inpDiv {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .inpDiv button {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  background: white;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 50%;
}
header .inpDiv button:hover {
  background: rgb(206, 206, 206);
}
header .inpDiv button .nav-icons {
  width: 30px;
  height: 30px;
}
header .configDiv {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .configDiv label {
  background: rgb(201, 201, 201);
  width: 90px;
  height: 40px;
  border-radius: 70px;
  display: block;
  position: relative;
  cursor: pointer;
}
header .configDiv input {
  display: none;
}
header .configDiv i.thumb {
  content: "";
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.419);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}
header .configDiv input:checked ~ span i.thumb {
  content: "";
  background: rgb(25, 25, 25);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 97%;
  transform: translate(-100%, -50%);
}
header select {
  background: transparent;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

nav {
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.563);
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .closeBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  left: 80%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .closeBtn:hover {
  background: rgb(157, 157, 157);
}

.mainCont {
  height: 100%;
  /* Products Grid Settings */
}
.mainCont > * {
  width: 100%;
}
.mainCont main {
  padding: 30px;
}
.mainCont .products {
  padding: 30px;
}
.mainCont .grid {
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.mainCont .prodCont {
  min-height: 400px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
.mainCont .prodImg img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.mainCont .prodInfo {
  padding: 5px;
}
.mainCont .starReview {
  color: rgb(255, 200, 0);
}
.mainCont .currentPrice {
  color: green;
  font: bold 1.5em var(--mainFont);
}
.mainCont .cents {
  font-size: 1em;
}

footer {
  background: black;
  color: white;
  width: 100%;
  height: 600px;
  border-top: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
footer a {
  color: white;
}
footer .footerNav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}
footer .footerNav .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footerNav .links > div {
  height: 50%;
  margin: 50px;
}
footer .credit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 90px;
  border-top: 2px solid white;
}

.prodSect {
  height: 700px;
  padding: 30px;
}
.prodSect h1 {
  font: bold 3em system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.prodSect .prodInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.prodSect .prodInfo > div {
  width: 50%;
}
.prodSect .prodImg {
  background: blue;
  padding: 50px;
  border-radius: 30px;
}
.prodSect .prodImg .nextImgs picture, .prodSect .prodImg .nextImgs img {
  height: 50px;
}
.prodSect .prodDesc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-items: start;
  height: 100%;
  padding: 30px;
}
.prodSect .prodDesc .basicInfo {
  height: 170px;
}
.prodSect .prodDesc .btns {
  width: 90%;
}
.prodSect .prodDesc .stars {
  color: rgb(255, 198, 28);
}
.prodSect .prodDesc .prevPrice {
  font: normal 1.6em system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
}
.prodSect .prodDesc .newPrice {
  color: green;
  font: bold 3.5em system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.prodSect .prodDesc .cent {
  font-size: 0.8em;
}
.prodSect .prodDesc button {
  background: rgb(23, 190, 23);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.388);
  color: white;
  width: 100%;
  border-radius: 20px;
  font: bolder 1.7em system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=index.css.map */
